<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% include head.html %}
    <style media="screen">
      .pages {
          font-size: 22px;
          text-align: justify
      }
      blockquote {
        border-left: 5px solid #a7a7a7;
      }
    </style>
  </head>
  <body>
    {% include navbar.html %}
    <div class="container-fluid hidden-xs" style="margin-top: -20px; height: 420px; margin-bottom: 20px; background: url('{{ site.url }}/images/angkor_wat.jpg') no-repeat; background-size: cover;"> </div>
    <div class="container pages">
      <div class="col-md-12">
        <h1 class="text-center">{{ page.title }}</h1>
        <br>
        {{ content }}
      </div>
    </div>
    {% include foot.html %}
  </body>
</html>
